<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.NguoiDungMapper">
	<resultMap id="resultMapNV" type="com.example.demo.model.NguoiDung">
		<result column="MaNguoiDung" property="MaNguoiDung" />
		<result column="TenNguoiDung" property="TenNguoiDung" />
		<result column="MatKhau" property="MatKhau" />
		<result column="SoDT" property="SoDT" />
		<result column="MaCN" property="MaCN" />
		<result column="TenCN" property="TenCN" />
	</resultMap>
	<select id="getAllNV" resultMap="resultMapNV">
		SELECT NguoiDung.*,TenCN
		FROM NguoiDung join ChiNhanh on ChiNhanh.MaCN = NguoiDung.MaCN
		order by NguoiDung.MaNguoiDung
	</select>

	<select id="findNVByEmailAndPassword" resultMap="resultMapNV">
		SELECT *
		FROM
		NguoiDung
		where SoDT = #{sdt} and MatKhau =#{password}
	</select>
	<insert id="insertNV">
	insert into NguoiDung values(#{MaNguoiDung},#{TenNguoiDung},#{matKhau},#{soDT},#{maCN})
	</insert>
	
	<update id="updateNV">
	update NguoiDung set TenNguoiDung = #{TenNguoiDung} , MatKhau = #{matKhau}, SoDT = #{soDT}, MaCN = #{maCN} where MaNguoiDung =#{MaNguoiDung}
	</update>
	<delete id="deleteNV">
	delete from NguoiDung where MaNguoiDung =#{MaNguoiDung}
	</delete>
</mapper>