<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PhimMapper">
	<resultMap id="resultMapPhim" type="com.example.demo.model.Phim">
		<result column="MaPhim" property="MaPhim"/>
		<result column="TenPhim" property="TenPhim"/>
		<result column="DienVien" property="DienVien"/>
		<result column="NamSX" property="NamSX"/>
		<result column="Hinh" property="Hinh"/>
		<result column="DaoDien" property="DaoDien"/>
		<result column="QuocGia" property="QuocGia"/>
		<result column="ThoiLuong" property="ThoiLuong"/>
		<result column="MoTa" property="MoTa"/>
		<result column="Traller" property="Traller"/>
	</resultMap>
	<select id="getAllPhim" resultMap="resultMapPhim">
		SELECT *
		FROM Phim
	</select>
</mapper>